<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.smplatform.itsm.assets.dao.AssetsMapper">
    <insert id="create" parameterType="kr.go.smplatform.itsm.assets.vo.AssetsVO">
        INSERT INTO TB_ASSETS(
                              assets_no
                             , ASSETS_SE1
                             , ASSETS_SE2
                             , PURCHS_MTHD
                             , MAKER
                             , PRODUCT_NM
                             , DLVGBIZ
                             , ASSET_QY
                             , QY_UNIT
                             , ASSET_PRPOS
                             , ASSET_YN
                             , MNTNCE_YN
                             , TCHNLGY_SPRT
                             , INSTL_LC
                             , USE_YN
                             , INDC_DT
                             , INDC_UNTPC
                             , INDC_AMOUNT
                             , MNTNCE_TARIFF
                             , MNTNCE_AMOUNT
                             , CN_SDYTRN
                             , ASSETS_RM
                             , CHARGER_NM
                             , CHARGER_EMAIL
                             , CHARGER_CLSF
                             , CHARGER_CTTPC
                             , CREAT_DT
                             , CREAT_ID
                             , UPDT_DT
                             , UPDT_ID
                             , DELETE_YN)
        VALUES (#{assetsNo}
              , #{assetsSe1}
              , #{assetsSe2}
              , #{purchsMthd}
              , #{maker}
              , #{productNm}
              , #{dlvgbiz}
              , #{assetQy}
              , #{qyUnit}
              , #{assetPrpos}
              , #{assetYn}
              , #{mntnceYn}
              , #{tchnlgySprt}
              , #{instlLc}
              , #{useYn}
              , #{indcDt}
              , #{indcUntpc}
              , #{indcAmount}
              , #{mntnceTariff}
              , #{mntnceAmount}
              , #{cnSdytrn}
              , #{assetsRm}
              , #{chargerNm}
              , #{chargerEmail}
              , #{chargerClsf}
              , #{chargerCttpc}
              , NOW()
              , #{creatId}
              , NOW()
              , #{creatId}
              , 'N')
    </insert>

    <delete id="delete" parameterType="kr.go.smplatform.itsm.assets.vo.AssetsVO">
        UPDATE TB_ASSETS
            SET DELETE_YN = 'Y'
        WHERE ASSETS_SN = #{assetsSn}
    </delete>

    <update id="update" parameterType="kr.go.smplatform.itsm.assets.vo.AssetsVO">
        UPDATE TB_ASSETS
           SET UPDT_DT = NOW()
             , UPDT_ID = #{updtId}
             , assets_no = #{assetsNo}
             , ASSETS_SE1 = #{assetsSe1}
             , ASSETS_SE2 = #{assetsSe2}
             , PURCHS_MTHD = #{purchsMthd}
             , MAKER = #{maker}
             , PRODUCT_NM = #{productNm}
             , DLVGBIZ = #{dlvgbiz}
             , ASSET_QY = #{assetQy}
             , QY_UNIT = #{qyUnit}
             , ASSET_PRPOS = #{assetPrpos}
             , ASSET_YN = #{assetYn}
             , MNTNCE_YN = #{mntnceYn}
             , TCHNLGY_SPRT = #{tchnlgySprt}
             , INSTL_LC = #{instlLc}
             , USE_YN = #{useYn}
             , INDC_DT = #{indcDt}
             , INDC_UNTPC = #{indcUntpc}
             , INDC_AMOUNT = #{indcAmount}
             , MNTNCE_TARIFF = #{mntnceTariff}
             , MNTNCE_AMOUNT = #{mntnceAmount}
             , CN_SDYTRN = #{cnSdytrn}
             , ASSETS_RM = #{assetsRm}
             , CHARGER_NM = #{chargerNm}
             , CHARGER_EMAIL = #{chargerEmail}
             , CHARGER_CLSF = #{chargerClsf}
             , CHARGER_CTTPC = #{chargerCttpc}
             , LICENSE_ATCHMNFL_ID = #{licenseAtchmnflId}
             , MANUAL_ATCHMNFL_ID = #{manualAtchmnflId}
        WHERE ASSETS_SN = #{assetsSn}
    </update>

    <sql id="retrieveSelect">
        SELECT
                @rownum:=@rownum+1 as rowNum
                ,AST.ASSETS_SN assetsSn
                ,AST.ASSETS_NO assetsNo
                ,AST.ASSETS_SE1 assetsSe1
                ,CM.CMMN_CODE_NM assetsSe1Nm
                ,AST.ASSETS_SE2 assetsSe2
                ,CC.CMMN_CODE_NM assetsSe2Nm
                ,AST.PURCHS_MTHD purchsMthd
                ,AST.MAKER maker
                ,AST.PRODUCT_NM productNm
                ,AST.DLVGBIZ dlvgbiz
                ,AST.ASSET_QY assetQy
                ,AST.QY_UNIT qyUnit
                ,AST.ASSET_PRPOS assetPrpos
                ,AST.ASSET_YN assetYn
                ,AST.MNTNCE_YN mntnceYn
                ,AST.TCHNLGY_SPRT tchnlgySprt
                ,AST.INSTL_LC instlLc
                ,CT.CMMN_CODE_NM instlLcNm
                ,AST.USE_YN useYn
                ,AST.INDC_DT indcDt
                ,AST.INDC_UNTPC indcUntpc
                ,AST.INDC_AMOUNT indcAmount
                ,AST.MNTNCE_TARIFF mntnceTariff
                ,AST.MNTNCE_AMOUNT mntnceAmount
                ,AST.CN_SDYTRN cnSdytrn
                ,AST.ASSETS_RM assetsRm
                ,AST.CHARGER_NM chargerNm
                ,AST.CHARGER_EMAIL chargerEmail
                ,AST.CHARGER_CLSF chargerClsf
                ,AST.CHARGER_CTTPC chargerCttpc
                ,AST.LICENSE_ATCHMNFL_ID licenseAtchmnflId
                ,AST.MANUAL_ATCHMNFL_ID manualAtchmnflId
                ,AST.CREAT_DT creatDt
                ,AST.CREAT_ID creatId
                ,AST.UPDT_DT updtDt
                ,AST.UPDT_ID updtId
                ,AST.DELETE_YN deleteYn
        FROM (select @rownum:=0) TMP,
              TB_ASSETS AST
        LEFT OUTER JOIN TB_CMMN_CODE CM
                     ON CM.CMMN_CODE = AST.ASSETS_SE1
        LEFT OUTER JOIN TB_CMMN_CODE CC
                     ON CC.CMMN_CODE = AST.ASSETS_SE2
        LEFT OUTER JOIN TB_CMMN_CODE CT
                     ON CT.CMMN_CODE = AST.INSTL_LC
    </sql>

    <sql id="retrievePagingListWhere">
        WHERE AST.DELETE_YN = 'N'
        <if test="assetsSe1 != null and assetsSe1 != ''">
            AND AST.ASSETS_SE1 = #{assetsSe1}
        </if>
        <if test="assetsSe2 != null and assetsSe2 != ''">
            AND AST.ASSETS_SE2  LIKE CONCAT('%', #{assetsSe2},'%')
        </if>
        <if test="maker != null and maker != ''">
            AND AST.MAKER  LIKE CONCAT('%', #{maker},'%')
        </if>
        <if test="productNm != null and productNm != ''">
            AND PRODUCT_NM LIKE CONCAT('%', #{productNm},'%')
        </if>
    </sql>

    <select id="retrievePagingList" parameterType="kr.go.smplatform.itsm.assets.vo.AssetsVO" resultType="kr.go.smplatform.itsm.assets.vo.AssetsVO">
        <include refid="retrieveSelect"/>
        <include refid="retrievePagingListWhere"/>
        ORDER BY
                AST.ASSETS_SE2 ASC
        limit #{firstIndex}, #{recordCountPerPage}
    </select>

    <select id="retrieveListCnt" parameterType="kr.go.smplatform.itsm.assets.vo.AssetsVO" resultType="Integer">
        SELECT COUNT(*)
        FROM TB_ASSETS AST
        <include refid="retrievePagingListWhere"/>
    </select>

    <select id="retrieve" parameterType="kr.go.smplatform.itsm.assets.vo.AssetsVO" resultType="kr.go.smplatform.itsm.assets.vo.AssetsVO">
        <include refid="retrieveSelect"/>
        WHERE AST.DELETE_YN = 'N'
        AND AST.ASSETS_SN = #{assetsSn}
    </select>

    <select id="retrieveAllList" parameterType="kr.go.smplatform.itsm.assets.vo.AssetsVO" resultType="kr.go.smplatform.itsm.assets.vo.AssetsVO">
        <include refid="retrieveSelect"/>
        WHERE AST.DELETE_YN = 'N'
          AND AST.ASSETS_SE1 = #{assetsSe1}
        ORDER BY AST.ASSETS_SE2 DESC
    </select>
</mapper>
